<?xml version="1.0" encoding="UTF-8"?>
<widget id="io.cordova.hellocordova">
	<name>WastedTime</name>
	<description>Records cumulative time spent waiting.</description>
	<author href="http://www.bluebearsoftware.co.uk" email="admin@bluebearsoftware.co.uk">Bernhard Hofmann</author>

 	<platform name="android">
		<icon src="icon.png" />
		<splash src="splash.png" />
	</platform>

	<feature name="Notification">
		<param name="android-package" value="org.apache.cordova.Notification" />
	</feature>

	<preference name="orientation" value="portrait" />
</widget>
